accordion1__modalwindow-open{
    display: grid;
    width: 100%;
    border: 1px solid red;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.accordion1__modalwindow_door{
    display: grid;
    width: 100%;
    border: 1px solid red;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 30px;
}